.dashboardBody {
  width: 80%;
  padding: 5% 20px 5px 20px;
}

.tmDashboardNav {
  background-color: white;
  color: #285DAF;
  border: 1px solid #285DAF;
}

.projectCard {
  background-color: white;
  border-radius: 5px;
  margin: 15px 2px 2px 25px;
  padding: 12px 0;
  box-shadow: 7px 7px 4px #E5E5E5;
}

.projectDivideHr {
  height: 4px;
  width: 30%;
  background: #007BFF;
  margin-left: 0;
}

.projectSubtitle {
  font-size: 16px;
}

.addTaskBtnDiv {
  display: flex;
  justify-content: flex-end;
}

.taskCard {
  background: white;
  border: 2px solid #007BFF;
  margin: 10px 0;
  padding: 5px;
}

.taskActionDiv {
  display: flex;
  justify-content: space-between;
}

.taskDescription, .taskDate {
  font-size: 13px;
}

.trashIcon {
  font-size: 20px;
  color: #414141;
  cursor: pointer;
}

.trashIcon {
  color: #DA2111;
}

.trashIcon:hover {
  font-size: 24px;
}

.doneCheckBox {
  width: 1em; height: 1em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  margin-right: 5px;
}

.doneCheckBox:checked {
  font-size: 1.1em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

.timeDiv * {
  vertical-align: middle;
}
