@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.container {
    margin-top: 40px;
}

img {
    height: 350px;
    width: 600px;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}
